body {
  background-color:#444444;
  color:white;
}
header {
    background-color:#222222;
    margin: 0px;
    padding: 20px;
}
.hhead {
    margin: 10px;
    display: inline;
    text-decoration: none;
    color:white;
    font-size:30px;
}
.hlink {
    margin: 10px;
    color:white;
    text-decoration: none;
    padding: 10px;
    display: inline;
}